::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #aaa;
}

::-webkit-scrollbar-thumb {
  background-color: #335ddc;
  border-radius: 8px;
}

.login-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/login-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
}
.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  min-width: 35%;
  background: rgba(10, 7, 7, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 2px solid rgb(59 130 246);
}
#login-form {
  flex: 1 0 100%;
  max-width: 480px;
  width: 100%;
  padding: 60px;
  text-align: center;
}
#login-form p {
  color: white;
}
#login-form p.form-title {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: calc(16px + 2vmin);
  font-weight: bold;
  line-height: 1;
  margin-bottom: 30px;
}
#login-form small {
  font-size: 14px;
}

#login-form .ant-form-item-label > label.ant-form-item-required::before {
  display: none;
}
.ant-form-item-control-input-content {
  text-align: left;
}
#login-form .ant-input-affix-wrapper {
  padding: 12px 15px;
}
#login-form .ant-btn {
  height: 42px;
  letter-spacing: 1px;
  margin-left: 0;
}
.login-form-button {
  /* margin-top: 12px; */
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .login-box {
    flex-direction: column;
    box-shadow: none;
  }
  #login-form {
    max-width: 100%;
  }
}

.adaro-logo {
  max-width: 10em;
  padding-bottom: 1em;
}

.supertype-wrapper {
  display: flex;
  align-items: center;
}

.supertype-wrapper p {
  color: white;
  margin-bottom: 0;
  padding-right: 0.5em;
}

.supertype-logo {
  max-width: 9em;
}

.login-text h1 {
  color: white;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

@media screen and (max-width: 1120px) {
  .login-text h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 1020px) {
  .login-text h1 {
    font-size: 3rem;
  }
}
