# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# python environment
venv/

# database
db.sqlite3

# environment variables used to store sensitive information
.env
adaro-data-warehouse-97f4ef317884.json
backend/adaro-data-warehouse-7005b9f0c27e.json
backend/api/__pycache__/
backend/api/management/commands/__pycache__/load_data.cpython-38.pyc
backend/api/migrations/__pycache__/
backend/backend/__pycache__/

*.pyc
credentials/