appengine-python-standard==0.3.1
asgiref==3.4.1
attrs==21.4.0
autopep8==1.5.7
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.7
Django==4.0.4
django-anymail==8.5
django-clear-memcache==1.4.1
django-cors-headers==3.10.0
djangorestframework==3.13.1
frozendict==2.2.0
google-api-core==2.1.1
google-auth==2.3.0
google-auth-oauthlib==0.4.6
google-cloud-bigquery==2.28.1
google-cloud-bigquery-storage==2.9.1
google-cloud-core==2.1.0
google-crc32c==1.3.0
google-resumable-media==2.0.3
googleapis-common-protos==1.53.0
grpcio==1.41.0
idna==3.3
joblib==1.1.0
libcst==0.3.21
mock==4.0.3
mypy-extensions==0.4.3
numpy==1.21.2
oauthlib==3.1.1
packaging==21.0
pandas==1.3.4
pandas-gbq==0.15.0
Pillow==9.0.0
proto-plus==1.19.5
protobuf==3.19.3
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pydata-google-auth==1.2.0
pymemcache==3.5.0
PyMySQL==1.0.2
pyparsing==2.4.7
python-dateutil==2.8.2
python-dotenv==0.19.1
pytz==2021.3
PyYAML==6.0
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
ruamel.yaml==0.17.20
ruamel.yaml.clib==0.2.6
six==1.16.0
sqlparse==0.4.2
threadpoolctl==3.0.0
toml==0.10.2
typing-extensions==3.10.0.2
typing-inspect==0.7.1
urllib3==1.26.7
